<a href="https://colab.research.google.com/github/AliNaeem500/Dynamic-Resume-Builder/blob/main/Asignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

# 1. Create a list of five numbers and append a new number to it. Print the updated list.
numbers = [1,2,3,4,5,6]
numbers.append(8)
print (numbers)

[1, 2, 3, 4, 5, 6, 8]

In [ ]:
# 2. Extend a list [1, 2, 3] with another list [4, 5, 6]. Print the result.
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1.extend(list2)
print (list1)

[1, 2, 3, 4, 5, 6]

In [ ]:
# 3. Insert the string "Python" at index 2 in the list ["Java", "C++", "JavaScript", "Ruby"].
lan = ["Java", "C++", "JavaScript", "Ruby"]
lan.insert (2 , "Python")
print (lan)

['Java', 'C++', 'Python', 'JavaScript', 'Ruby']

In [ ]:
# 4. Remove the first occurrence of the number 10 from the list [10, 20, 30, 10, 40].
list = [10, 20, 30, 10, 40]
list.remove(10)
print (list)

[20, 30, 10, 40]

In [ ]:
# 5. Use the pop() method to remove the last element from [100, 200, 300, 400] and print the modified list.
poplist = [100, 200, 300, 400]
poplist.pop()
print (poplist)

[100, 200, 300]

In [ ]:
# 6. Count how many times the number 5 appears in the list [5, 10, 5, 20, 5, 30].
number = [5, 10, 5, 20, 5, 30]
count = number.count(5)
print (count)

3

In [ ]:
# 7. Sort the list [9, 1, 8, 3, 5] in ascending and descending order

#assending
numb = [9, 1, 8, 3, 5]
numb.sort()
print (numb)

#descending
numb.sort(reverse=True)
print (numb)

[1, 3, 5, 8, 9]
[9, 8, 5, 3, 1]

In [ ]:
# 8. Reverse the list [“apple”, “banana”, “cherry”] using the reverse() method.
fruits = ["apple", "banana", "cherry"]
fruits.reverse()
print (fruits)

['cherry', 'banana', 'apple']

In [ ]:
# 9. Create a copy of the list [1, 2, 3, 4, 5] and store it in another variable. Modify the
# copied list and print both lists

real_list = [1, 2, 3, 4, 5]
copy_list = real_list.copy()
copy_list.append(6)

print (real_list)
print (copy_list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

In [ ]:
# 10. Clear all elements from a list [“hello”, “world”, “python”] using the clear() method.

words = ["hello", "world", "python"]
words.clear()
print(words)

[]

                              Tuple-Based Questions

In [ ]:
# 11. Create a tuple with 5 different fruits and print the third fruit.

fruits = ("apple", "banana", "mango", "orange", "grapes")

print(fruits[2])

mango

In [ ]:
# 12. Convert the tuple (10, 20, 30, 40, 50) into a list, remove the number 30, and convert
# it back into a tuple

numbers = (10, 20, 30, 40, 50)
num_list = list(numbers)
num_list.remove(30)
new_tuple = tuple(num_list)
print(new_tuple)

(10, 20, 40, 50)

In [ ]:
# 13. Try to append an element to the tuple (“A”, “B”, “C”). What happens? How can you
# modify a tuple indirectly?

#we cant add any element in touple so firstly we convert touple into list array and then append and removes etc.

letters = ("A", "B", "C")
temp_list = list(letters)
temp_list.append("D")
new_tuple = tuple(temp_list)
print(new_tuple)

('A', 'B', 'C', 'D')

In [ ]:
# 14. Unpack the tuple (100, 200, 300) into three separate variables and print them

numbers = (100, 200, 300)
x, y, z = numbers
print(x)
print(y)
print(z)

100
200
300

In [ ]:
# 15. Count the occurrences of 7 in the tuple (7, 1, 7, 3, 7, 5).

numbers = (7, 1, 7, 3, 7, 5)
count_7 = numbers.count(7)
print(count_7)

3

                                      Advanced Problems

In [2]:
# 16. Write a function that takes a list and returns a new list with all even numbers removed.

def remove_even_numbers(input_list):
    return [num for num in input_list if num % 2 != 0]

my_list = [1, 2, 3, 4, 5, 6, 7, 8]
new_list = remove_even_numbers(my_list)
print(new_list)

[1, 3, 5, 7]

In [3]:
# 17. Create a function that accepts a list and returns a new list with elements sorted in
# descending order without using the sort() method.

def sort_descending(input_list):
    return sorted(input_list, reverse=True)

my_list = [3, 1, 4, 2, 9, 6]
sorted_list = sort_descending(my_list)
print(sorted_list)

[9, 6, 4, 3, 2, 1]

In [4]:
# 18. Given a list of numbers, write a program to remove all duplicate elements and print the
# unique elements.

numbers = [1, 2, 2, 3, 4, 4, 5, 1, 6]
unique_numbers = list(set(numbers))
print(unique_numbers)

[1, 2, 3, 4, 5, 6]

In [9]:
# 19. Given a tuple of names (“Alice”, “Bob”, “Charlie”, “Alice”, “David”), convert
# it into a list, remove duplicates, and convert it back to a tuple.

names = ("Alice", "Bob", "Charlie", "Alice", "David")
list_names = list(names)
list_names = set(list_names)
unique_names = tuple(list_names)
print(unique_names)

('Bob', 'Alice', 'David', 'Charlie')

In [ ]:
# 20.Create a program that takes a list of mixed data types (int, str, float) and separates
# integers into one list, strings into another, and floats into another

mixed_list = [1, "hello", 3.14, 42, "world", 2.5, 100, "chat", 9.9]

ints = []
strs = []
floats = []

for item in mixed_list:
    if type(item) == int:
        ints.append(item)
    elif type(item) == str:
        strs.append(item)
    elif type(item) == float:
        floats.append(item)

print("Integers:", ints)
print("Strings:", strs)
print("Floats:", floats)